@import "../../common/colors.scss";

.movie-list,
.show-list {
  margin: 20px 0px;

  h1 {
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 800;
  }
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 15px;
}

.movies-error {
  color: red;
}

#separator {
  height: 4px;
    border-width: 0;
    color: #175891;
    background-color: #175891;
    margin-top: 40px;
    width: 100%;
}