@import "../../common/colors.scss";

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: #59b2ff;
  font-size: 36px;
  font-weight: 600;
}

